img{
    width:300px ;
    height:100px;
    margin-bottom: 10px;
     border-radius: 5px;
     margin-top: 10px;
}
body {
max-width: 80%;
margin: auto;   
background-color: lightgrey;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    border-radius: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}
li a:hover {
    background-color: black;
}

.Left_side{
    width: 68%;
    float: left;
}
.Right_side{
    width:30%;
   
    float: right;
}
section{
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    border-radius: 5px;
}
.slider{
    background-color: white;
    margin-bottom: 10px;
    border-radius: 5px;
}

.footer {
    background-color: grey;
    color: white;
    width: 100%;
    float: left;
    border-radius: 5px;
   
 }

 @media screen and (max-width: 600px)  {
   
   
   .Right_side,.Left_side{
       float:none;
       width: auto;
   }
.header ul li{
        float:none;
    }
}





